build/
XCFrameworks/
xcuserdata/
*.xcodeproj
*.xcworkspace
graph.dot
Derived/
**/.build
**/Derived
Package.resolved
DerivedData/

# fastlane specific
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# periphery
periphery/DerivedData
periphery_output.txt
.DS_Store
tws-service.json
