build/
XCFrameworks/
xcuserdata/
graph.dot
Derived/
**/.build
**/Derived
DerivedData/

# fastlane specific
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# periphery
periphery/DerivedData
periphery_output.txt
periphery_error.log
.DS_Store
tws-service.json
