<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD5p_HmgdKKIzZIK_cUqxTBip03MPoqmmQ</string>
	<key>GCM_SENDER_ID</key>
	<string>20881085628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.inova.tws</string>
	<key>PROJECT_ID</key>
	<string>thewebsnippet</string>
	<key>STORAGE_BUCKET</key>
	<string>thewebsnippet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:20881085628:ios:5890196c3a8938c7b02cb9</string>
</dict>
</plist>